.carddiv{
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
h1{
  margin-left: 45%;
  margin-bottom: 5%;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

}